
:root {
    --warning-color: #E77920;
    --info-color: #2459C6;
    --success-color: #057854;
    --error-color: #C1182C;
  }

.cont-table-mant{
    display: flex;
    justify-content: center
}


.controles-navegacion {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}


.InfoPaginacion-content {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.controles-navegacion{
    display: flex;
    gap: 0.4rem;
}
.controles-navegacion button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.controles-navegacion button:hover{
    transform: scale(1.10);

}

.smoothgrid-btn-activo {
    color: #007bff;                
    /* text-decoration: underline;     
    text-decoration-color: #007bff;     
    text-decoration-thickness: 2px; 
    text-underline-offset: 3px;      */
}

.cont-btn-add-new-mant {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.smooth_modal_close{
    display: flex;
    justify-content: end;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-content {
    padding: 15px;
}


.form-item ul{
    margin: 0;
    list-style: none;
    padding: 0;
    color: red;
    font-size: 14px;
}

.form-item li{
    margin: 10px;
}

.cont-btn-form {
    margin-top: 24px;
    display: flex;
    justify-content: end;
}

.cont-general-menssage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: red;
}
.form-item h4{
    margin-bottom: 7px;
    margin-top: 7px;
}
.cont-btn-add-new-maint {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.ico-btn{
    width: 20px;
    height: 20px;
}


.cont-btns-maintenance{
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 10px;
}

.btn-new{
    background-color:#768a9f;
}
.btn-update{
    background-color: var( --warning-color);
}
.btn-delete{
    background-color: var( --error-color);
}
.btn-maintenance {
    border: none;
    width: 2.8rem;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.cont-delete-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cont-message-confirm {
    font-size: 17px;
    margin-top: 60px;
    font-weight: 600;
}

.cont-form-element {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 