/* CSS para la tabla responsive */
.myDataTableResponsive{
    background-color: var(--blanco_crd);
    width: 95%;
    box-shadow: rgb(176, 174, 174) 1px 1px 8px 1px;
    border-radius: calc(5px + 1vw);
    margin-top: calc(1px + 1vw);
    margin-bottom: calc(1px + 1vw);
    padding-left: calc(2px + 2vw);
    padding-right: calc(2px + 2vw);
    padding-top: calc(1px + 4vw);
    padding-bottom: calc(1px + 2vw);
}
.table-container-datatableResponsive {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    overflow: hidden;
    transition: transform 1s ease;
    
}

.table-datatableResponsive {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 90%;
    
}

.table-datatableResponsive th{/*Afectar solo la cabecera*/
    font-weight: 600;
}
.table-datatableResponsive th,
.table-datatableResponsive td {
    border-bottom: 1px solid #ddd;
    min-width: 30px;
    padding: 8px;
    text-align: left;
  
}

/* Estilo para filas impares */
.table-datatableResponsive tr:nth-child(odd) {
    background-color: #fbfafa; /* Color para filas impares */
}

/* Estilo para el acordeón */
.accordion {
    display: none;
    background-color: #f7f7f7;
}

.accordion.active {
    display: table-row;
}

.invisible_dropdown {
    display: none;
}

.dropdown-icon {
    width: 20px;
}

.drop-down_opcion {
    cursor: pointer;
}

.enfasis-bold-mtr {
    font-family: 'Poppins';
    color: var(--negro_crd);
    font-weight: 600;
}

.cont-botones-navegacion {
    display: flex;
    margin-top: calc(2px + 2vw);
}

.btn-nav-principal {
    border: none;
    cursor: pointer;

    width: calc(2px + 9vw);
    height: calc(2px + 3.1vw);
    max-width: 100px;
    max-height: 40px;
    min-width: 110px;
    min-height: 30px;

    background-color: var(--negro_crd);
    color: var(--blanco_crd);
    border-radius: calc(10px + 2vw);
    font-family: 'Poppins';

    font-weight: 600;
    font-size: clamp(2px, calc(5vw + 4vw), 12px);
    transition: transform 0.2s ease;
}

.btn-nav-principal:hover {
    transform: scale(1.05);
}

.botones-navegacion-sec-dtr {
    display: flex;
    gap: calc(1px + 0.8vw);
    justify-content: center;
}

.btn-navegacion-dtr {
    margin-top: calc(1px + 1vw);
    margin-bottom: calc(1px + 0.3vw);
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Outfit';
    font-size: clamp(14px, calc(1px + 1.2vw), 28px);
    font-weight: 250;
    transition: transform 0.2s ease;

}

.btn-navegacion-dtr:hover {
    transform: scale(1.4);
}


.fila-nodatos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.cont-conteo-paginacion {
    display: flex;
    justify-content: center;
}

.cont-conteo-total-registros{
    display: flex;
    justify-content: center;
}

.cont-opciones-busqueda-mdtr{
    display: flex;
    justify-content: end;
    margin-bottom: calc(1px + 1vw);
}




.cont-input-busqueda {
    width: 100%;
    height: calc(2px + 2.7vw);
    max-height: 45px;
    min-height: 36px;
    background-color: var(--blanco_crd);
    border-radius: calc(4px + 2.2vw);
    box-shadow: rgb(176, 174, 174) 1px 1px 8px 1px;
}
.input-busqueda{
    width: calc(10px + 20%);
    height: calc(10px + 1.4vw);
   
   border:solid  0.5px;
   border-radius: 5px;
}

.elemento-tabla-categoria-detalle-mdtr{
    padding-top:8px ;
    padding-bottom:8px ;
}